nav
{
<<<<<<< HEAD:style.css
background-color: white;
=======
  background-color: white;
>>>>>>> pr/2:src/style.css
}

#mainpage
{
  margin: 60px;
}

body
{
  text-align:center;
}

nav ul {
  margin: 50px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
}